@model IEnumerable<wep.Models.Employee>

@{
	ViewData["Title"] = "Employees";
}

<h1>Employees</h1>
<div class="alert-danger"> @TempData["msj"]</div>
@if (User.IsInRole("admin"))
{
	<p>
		<a class="btn btn-secondary" asp-action="EmployeeAdd">Create New</a>
	</p>
}
<table class="table">
	<thead>
		<tr class="table-light">
			<th>
				@Html.DisplayNameFor(model => model.EmployeeName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EmployeeSurname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EmployeeExperience)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.workingHours)
			</th>
			@if (User.IsInRole("admin"))
			{
				<th></th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="table-secondary">
				<td>
					@Html.DisplayFor(modelItem => item.EmployeeName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmployeeSurname)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EmployeeExperience)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.workingHours)
				</td>
				@if (User.IsInRole("admin"))
				{
					<td>
						<a class="btn btn-success"  asp-action="EmployeeEdit" asp-route-id="@item.EmployeeID">Edit</a> |
						<a class="btn btn-info" asp-action="EmployeeDetails" asp-route-id="@item.EmployeeID">Details</a> |
						<a class="btn btn-warning"  asp-action="EmployeeDelete" asp-route-id="@item.EmployeeID">Delete</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
