@model wep.Models.Servis

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Servis</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ServisName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ServisName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ServisFee)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ServisFee)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ServisDuration)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ServisDuration)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.employee)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.employee.EmployeeName)
		</dd>
		@if (Model.rendezvous?.Count > 0)
		{
			<dt class="col-sm-2">
				Rendezvous:
			</dt>
			<dd class="col-sm-10">
				<table class="table">
					<thead>
						<tr>
							<th>User</th>
							<th>Randezvou Time</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var rendezvou in Model.rendezvous)
						{
							<tr>
								<td>@Html.DisplayFor(model => rendezvou.user.UserName)</td>
								<td>@Html.DisplayFor(model => rendezvou.RandezvouTime)</td>
							</tr>
						}
					</tbody>
				</table>
			</dd>
		}
	</dl>
</div>
<div>
	<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.ServisID">Edit</a> |
	<a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
