@model wep.Models.Rendezvou

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rendezvou</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandezvouTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandezvouTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.servis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.servis.ServisName) with: @Html.DisplayFor(model => model.servis.employee.EmployeeName) @Html.DisplayFor(model => model.servis.employee.EmployeeSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.UserAd) @Html.DisplayFor(model => model.user.UserSoyad) 
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.RendezvouID">Edit</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
