@model IEnumerable<wep.Models.Rendezvou>

@{
    ViewData["Title"] = "Rendezvou";
}

<h1>Rendezvou</h1>
<div class="alert-danger"> @TempData["msj"]</div>
<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-light">
            <th>
                @Html.DisplayNameFor(model => model.RandezvouTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.servis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.RandezvouTime)
                </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.servis.ServisName) with: @Html.DisplayFor(modelItem => item.servis.employee.EmployeeName) @Html.DisplayFor(modelItem => item.servis.employee.EmployeeSurname)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.servis.ServisName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.user.UserAd) @Html.DisplayFor(modelItem => item.user.UserSoyad)
                </td>
                <td>
                    <a class="btn btn-success"  asp-action="Edit" asp-route-id="@item.RendezvouID">Edit</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.RendezvouID">Details</a> |
                    <a class="btn btn-warning"  asp-action="Delete" asp-route-id="@item.RendezvouID">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
